<div class="input-prepend pull-right">
	<span class="add-on"><i class="icon-search"></i></span>
	<input type="text" class="input-medium" placeholder="Filtre" ng-model="filtre" />
</div>
<a href="#/admin/logs" class="pull-right btn btn-inverse" style="margin-right : 10px;"> <i class="icon-file-alt"> </i> Logs</a>
<a href="#/admin/stats" class="pull-right btn btn-warning" style="margin-right : 10px;"> <i class="icon-tasks"> </i> Stats</a>
<h1>Inscriptions</h1>
<div class="row-fluid">
	<div class="span12">
		<table class="table avecTotal" ng-class="{withIcons : showIcones}">
			<thead>
				<tr>
					<th ng-click="predicate = 'view'; reverse=!reverse" ng-class="{orderBy : predicate == 'view',up : reverse}" style="width : 16px;"><i class="pull-right icon-"></i></th>
					<th class="w25" ng-click="predicate = ['prenom', 'nom']; reverse=!reverse" ng-class="{orderBy : predicate[0] == 'prenom',up : reverse}"><i class="pull-right icon-"></i>Nom</th>
					<th class="w15" ng-click="predicate = ['nb_adultes', 'nb_enfants']; reverse=!reverse" ng-class="{orderBy : predicate[0] == 'nb_adultes',up : reverse}"><i class="pull-right icon-"></i>Personnes</th>
					<th class="w10" ng-click="predicate = 'nb_couchages'; reverse=!reverse" ng-class="{orderBy : predicate == 'nb_couchages',up : reverse}"><i class="pull-right icon-"></i>Couchage(s)</th>
					<th class="w10" ng-click="predicate = 'presence_dimanche'; reverse=!reverse" ng-class="{orderBy : predicate == 'presence_dimanche',up : reverse}"><i class="pull-right icon-"></i>Repas Dimanche</th>
					<th class="w10" ng-click="predicate = 'besoin_navette'; reverse=!reverse" ng-class="{orderBy : predicate == 'besoin_navette',up : reverse}"><i class="pull-right icon-"></i>Navette</th>
					<th>Commentaires</th>
					<th class="w10" style="text-align : right;"><input type="checkbox" name="showIcones" ng-model="showIcones" /> Ic&ocirc;nes</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="inscription in inscriptions | filter:filtre | orderBy:predicate:reverse">
					<td><i ng-click="switchInvite(inscription)" class="with-action icon-white" ng-class="{'icon-user' : inscription.view == undefined || inscription.view == 'commentaires', 'icon-comment' : inscription.view == 'invites'}" ng-show="inscription.invite != undefined"></i></td>
					<td>
						{{inscription.prenom}} {{inscription.nom}}
					</td>
					<td>
						<ul class="unstyled">
							<li>{{inscription.nb_adultes}} adultes</li>
							<li>{{inscription.nb_enfants}} enfants</li>
						</ul>
					</td>
					<td ng-switch on="inscription.nb_couchages" >
						<span class="flag non" ng-switch-when="0">&Chi;</span>
						<span class="flag oui" ng-switch-default>{{inscription.nb_couchages}}</span>
					</td>
					<td ng-switch on="inscription.presence_dimanche">
						<span class="flag non" ng-switch-when="0">&Chi;</span>
						<span class="flag oui" ng-switch-default>V</span>
					</td>
					<td ng-switch on="inscription.besoin_navette">
						<span class="flag non" ng-switch-when="0">&Chi;</span>
						<span ng-switch-default>{{inscription.lieu_navette}}</span>
					</td>
					<td>
						<div ng-show="inscription.view == undefined || inscription.view == 'commentaires'">
							<small>{{inscription.commentaires}}</small>
						</div>
						<ul class="unstyled" ng-show="inscription.view == 'invites'">
							<li ng-repeat="inv in inscription.invites">{{inv.prenom}} {{inv.nom}}</li>
						</ul>
					</td>
					<td style="text-align : right;">
						<a href="#/admin/edit/{{inscription.id}}"><i class="with-action icon-white icon-pencil"></i></a>
						<a href="#/admin/inscription/{{inscription.id}}"><i class="with-action icon-white icon-random"></i></a>
						<span style="display: block; margin-top : 5px;" class="showHover">
						<i class="with-action icon-white icon-heart" ng-class="{active : inscription.presence_ceremonie, inactive : !inscription.presence_ceremonie}" ng-click="updatePresence(inscription, 'ceremonie')"></i>						
						<i class="with-action icon-white icon-food" ng-class="{active : inscription.presence_repas, inactive : !inscription.presence_repas}" ng-click="updatePresence(inscription, 'repas')"></i>						
						<i class="with-action icon-white icon-glass" ng-class="{active : inscription.presence_apero, inactive : !inscription.presence_apero}" ng-click="updatePresence(inscription, 'apero')"></i>
						</span>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="w25">{{inscriptions.length}} inscriptions</td>
					<td class="w15">
						<ul class="unstyled">
							<li>{{totaux.adultes}} adultes</li>
							<li>{{totaux.enfants}} enfants</li>
							<li><b>{{totaux.personnes}} personnes</b></li>
						</ul>
					</td>
					<td class="w10">{{totaux.couchages}} couchages</td>
					<td class="w10">{{totaux.dimanche}} repas Dimanche</td>
					<td class="w10">{{totaux.navette}} navettes</td>
					<td></td>
					<td>
						<ul class="unstyled">
							<li>{{nombre('c') }} c&eacute;r&eacute;monie</li>
							<li>{{nombre('r') }} repas</li>
							<li>{{nombre('a') }} aperos</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="span6" ng-show="false">
		
	</div>
</div>

<form>
	<fieldset>
		<legend>Ajouter un invit&eacute;</legend>
	
	<ul id="erreurs" ng-show="erreurs != undefined && erreurs.length > 0">
		<li ng-repeat="erreur in erreurs">
			{{erreur}}
		</li>
	</ul>
	<div class="row-fluid">
		<div class="span6">
			<label for="nom">Nom *</label>
			<input type="text" name="nom" value="" id="nom" ng-model="invite.nom" placeholder="Nom" class="input-xlarge" />

			<label for="prenom">Pr&eacute;nom *</label>
			<input type="text" name="prenom" value="" id="prenom" ng-model="invite.prenom" class="input-xlarge" placeholder="Pr&eacute;nom" />
		</div>
		<div class="span6">
			<label for="nbAdultes">Nombre d'adultes</label>
			<select name="nbAdultes" id="nbAdultes" ng-model="invite.nb_adultes" >
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
			</select>
			<label for="nbEnfants">Nombre d'enfants</label>
			<select name="nbEnfants" id="nbEnfants" ng-model="invite.nb_enfants">
				<option value="0">0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
			<p class="">Soit {{nbPersonnes()}} personne(s).</p>
		</div>
	</div>	
	<div class="row-fluid">
		<div class="span4">
			<label class="checkbox">
				<input type="checkbox" name="presence_ceremonie" value="false" ng-model="invite.presence_ceremonie" />
				C&eacute;r&eacute;monie
			</label>
		</div>
		<div class="span4">
			<label class="checkbox">
				<input type="checkbox" name="presence_apero" value="false" ng-model="invite.presence_apero" />
				Ap&eacute;ro
			</label>
		</div>
		<div class="span4">
			<label class="checkbox">
				<input type="checkbox" name="presence_repas" value="false" ng-model="invite.presence_repas" />
				Repas
			</label>
		</div>
	</div>
	<p class="" style="text-align : right;">
		<button data-placement="top" class="btn btn-success" ng-click="enregistrer()">Enregistrer</button>
	</p>
	</fieldset>
</form>